#users {
  font-family: "Source Code Pro", monospace;
  border-bottom: 2px solid gray;
  margin-bottom: 5px;
}
#albums {
  font-family: "Source Code Pro", monospace;
  border-bottom: 2px solid gray;
  margin-bottom: 5px;
}
.btt {
  float: right;
  margin: 6px;
}

.title {
  font-family: "Source Code Pro", monospace;
  font-size: 5rem;
}
.form-group {
  font-family: "Source Code Pro", monospace;
  padding-left: 3rem;
}
.form-group label {
  font-size: 2rem;
  font-weight: bold;
}
.form-group input {
  width: 25rem;
}
.btn {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}
.modal-title {
  font-family: "Source Code Pro", monospace;
  font-size: 2.2rem;
  font-weight: bold;
}
